@media (max-width: 1265px) {
  .stat-hp,
  .stat-attack,
  .stat-defense,
  .stat-special-attack,
  .stat-special-defense,
  .stat-speed {
    display: inline-block;
    margin-bottom: 5px;
  }
}

@media (max-width: 765px) {
  .info-pokemon {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .modal {
    max-height: 630px;
    overflow-x: auto;
  }

  .skill-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .box-evolution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 385px) {
  .label {
    font-size: 8px;
  }

  .skill {
    font-size: 10px;
    width: 100px;
  }

  .info-pokemon img {
    height: 100px;
  }
}
